{
  "name": "smp-logos-bot",
  "main": "index.js",
  "type": "bot",
  "version": "1.0.0",
  "description": "Discord bot that shows user profile information",
  "author": "RustFX",
  "start": "node index.js",
  "memory": 100,
  "autoRestart": true,
  "ignore": [
    "node_modules",
    ".git",
    ".env",
    "*.log"
  ]
} 